*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
}

.navbar-brand{
    cursor: pointer;
    font-size: 2rem;
}

.navbar{
    background: #ff8177;
    font-size: 1.2rem;
    text-decoration: none;
}

.bg-nino{
    background: #ff8177
}

.border-nino{
    border: solid 1px;
    background-color: #ff8177;
}

.footer__container {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footerMain{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* icons */
.socialIconLink {
    color: #ff8177;
    font-size: 24px;
    display: flex;
}

#aboutMe{
    height: 100vh;
    width: 18;
}

.card{
    height: 65vh;
}